# Logs
logs
*.log
npm-debug.log*

*.lock

# Directories
node_modules/
dist/
public/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
